<div id='login_wrapper'>
  <div id="login_form">
    <div id="title2"> Returning Customer </div><br>
    <%= form_tag sessions_path do %>

    	<div class="control-group">
        <%= label_tag :email %>
        <div class="controls">
          <%= text_field_tag :email, params[:email] %>
        </div>
      </div>

    	<div class="control-group">
        <%= label_tag :password %>
        <div class="controls">
          <%= password_field_tag :password %>
        </div>
      </div>

      <div class="actions"><%= submit_tag "Log In", class: "tiny button" %></div>
    <% end %>
  </div>
  <div id="divider_vert"></div>
  <div id="sign_up">
    <div id="title2"> Don't have an account with us? </div>
    <br>
    <div> Create an account with us today to receive all our best offers, new arrivals and exclusives.
          Please note that this chess store only ships to schools, not individuals! </div>

    <div id="signup"><%= link_to "Sign Up", new_user_path, class: "tiny button" %></div>
  </div>
</div>