<%= simple_form_for @credit_card, html: { class: 'form-horizontal', multipart: true } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Credit Card </legend>

    <%= f.input :number %>  
    <%= f.input :expiration_month %> 
    <%= f.input :expiration_year %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'button tiny radius' %>
      <%= link_to 'Cancel', new_order_path, :class => 'button tiny alert radius' %>
    </div>
  </fieldset>
<% end %>