<div class="contain-to-grid">

  <!-- login button -->
  <div id="login_top">
    <div id="login">
      <% if logged_in? %>
        <div id="login_small"><%= link_to 'My Account', profile_path %></div>
        <div id="login_small"><%= link_to 'Logout', logout_path %></div>
        <% if current_user.role == "customer" %>
          <div id="login_small"><%= link_to image_tag('cart.png'), cart_index_path %></div>
        <% end %>
        <% else %>
          <div id="login_small"><%= link_to 'Login', login_path %></div>
        <% end %>
    </div>
  </div>

  <div id="nav">
    <div class="name">
      <div id="chess_img"><%= image_tag('knight.png') %></div>
      <div id="nav_name"><%= link_to "A&M Chess Store", home_path %></div>
      <div id="chess_img"><%= image_tag('knight.png', style: "transform: rotateY(180deg);") %></div>
    </div>

      <div id = "wrapper">
        <!-- link to home -->
        <div id="nav_small"><%= link_to "Home", home_path %></div>

        <% if logged_in? %>
          
          <% if (current_user.role == "manager" or current_user.role == "admin") %>
            <!-- options for items -->
            <div class = "drop" id = "nav_small">
              <%= link_to "Items", items_path %>
                <div class="drop-content">
                  <%= link_to "Item List", items_path %>              
                  <%= link_to "Reorder List", home_path %>
                  <%= link_to "Add an Item", new_item_path %>
                </div>
              </div>
            <!-- link to users -->
            <div class = "drop" id = "nav_small">
              <%= link_to "Users", users_path %>
              <div class="drop-content">
                <%= link_to "Customer List", customers_path %>
                <%= link_to "Employee List", employees_path %>
                <%= link_to "Add a User", new_user_path %>
              </div>
            </div>
              <!-- Link for Purchases -->
              <div id="nav_small"><%= link_to "Purchases", purchases_path %></div>
              <!-- Link for Orders -->
              <div id="nav_small"><%= link_to "Orders", orders_path %></div>
              <!-- Link for Schools -->
              <div id="nav_small"><%= link_to "Schools", schools_path %></div>
            <% end %>
          
          <% if current_user.role == "customer" or current_user.role == "shipper" %>
            <div id="nav_small"><%= link_to "Boards", boards_path %></div>
            <div id="nav_small"><%= link_to "Pieces", pieces_path %></div>
            <div id="nav_small"><%= link_to "Clocks", clocks_path %></div>
            <div id="nav_small"><%= link_to "Supplies", supplies_path %></div>
          <% end %>

        <% elsif !logged_in? %>
          <div id="nav_small"><%= link_to "Boards", boards_path %></div>
          <div id="nav_small"><%= link_to "Pieces", pieces_path %></div>
          <div id="nav_small"><%= link_to "Clocks", clocks_path %></div>
          <div id="nav_small"><%= link_to "Supplies", supplies_path %></div>
        <% end %>

      </div>

</div>


