<br>
<% if @customers.empty? %>
  <h4>No active customers at this time.</h4>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="225">Name</th>
        <th width="150">Phone Number</th>
        <th width="250">Email</th>
        <th width="10"></th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |user| %>
        <tr>
          <td><%= user.proper_name %></td>
          <td><%= user.phone %></td>
          <td><%= user.email %></td>
          <% if current_user.role == "admin" %>
            <td><%= link_to image_tag("edit.png"), edit_user_path(user) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= will_paginate @customers %>
<p>&nbsp;</p>