<% if @employees.empty? %>
  <h4>No active employees at this time.</h4>
<% else %>
  <h4>Employees</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="225">Name</th>
        <th width="150">Phone Number</th>
        <th width="250">Email</th>
        <th width="100">Role</th>
        <th width="10"></th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |user| %>
        <tr>
          <td><%= user.proper_name %></td>
          <td><%= user.phone %></td>
          <td><%= user.email %></td>
          <td><%= user.role.capitalize %></td>
          <td><%= link_to "Edit", edit_user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<p>&nbsp;</p>