<%= simple_form_for @user, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> User </legend>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </fieldset>
 
  <div class="form-actions">
    <%= f.submit nil, class: 'button' %>
    <%= link_to 'Cancel', home_path, :class => 'button secondary' %>
  </div>
  
<% end %>  