<div id="title"> <%= @user.proper_name %> </div>

<%= "Phone: " + @user.phone.to_s %> <br>
<%= "Email: " + @user.email %> <br>
<%= "Username: " + @user.username %> <br>
<%= "Role: " + @user.role %> <br> <br>

<% if @user.role == "customer" and !@order_history.empty? %>
  <%= render :partial => "partials/order_history" %>
<% end %>