<div id="title2"> <%= "Order " + @order.id.to_s %> </div>
<br>
<% order_date = @order.date %>

<% @items.each do |o| %>
  
  <%= image_tag(o.item.id.to_s+".jpg") %>
  <div> 
  <%= o.item.name %> 
  <br>
  <%= "Quantity: " + o.quantity.to_s %>
  <br>
  <%= "Price: " + "$" + sprintf('%.2f', o.item.price_on_date(order_date)).to_s %>
  </div>
  <br>
  <br>
  
<% end %>

