<div class="w3-bar w3-black">
  <button class="w3-bar-item w3-button" onclick="openItem('Boards')">Boards</button>
  <button class="w3-bar-item w3-button" onclick="openItem('Pieces')">Pieces</button>
  <button class="w3-bar-item w3-button" onclick="openItem('Clocks')">Clocks</button>
  <button class="w3-bar-item w3-button" onclick="openItem('Supplies')">Supplies</button>
  <button class="w3-bar-item w3-button" onclick="openItem('Inactive')">Inactive Items</button>
</div>

<div id="Boards" class="item">
  <%=render partial:"partials/item_categories",locals:{name:"Boards",object:"@boards"}%>
</div>

<div id="Pieces" class="item" style="display:none">
  <%= render partial: "partials/item_categories", locals: {name: "Pieces", object: "@pieces"} %> 
</div>

<div id="Clocks" class="item" style="display:none">
  <%= render partial: "partials/item_categories", locals: {name: "Clocks", object: "@clocks"} %>
</div>

<div id="Supplies" class="item" style="display:none">
  <%= render partial: "partials/item_categories", locals: {name: "Supplies", object: "@supplies"} %>
</div>

<div id="Inactive" class="item" style="display:none">
  <%= render partial: "partials/item_categories", locals: {name: "Inactive", object: "@inactive_items"} %>
</div>