<div id = "school_form"> 
  <%= simple_form_for @school, html: { class: 'form-horizontal', multipart: true }, remote: true do |f| %>
    <fieldset>
      <legend><%= controller.action_name.capitalize %> School </legend>

      <%= f.input :name %>
      <%= f.input :street_1 %>
      <%= f.input :street_2 %>
      <%= f.input :city %>
      <%= f.input :state, collection: School::STATES_LIST %>
      <%= f.input :zip %>
      <%= f.input :min_grade, collection: %w[0 1 2 3 4 5 6] %>
      <%= f.input :max_grade, collection: %w[0 1 2 3 4 5 6] %>
      <%= f.input :active %>

      <div class="form-actions">
        <%= f.submit nil, :class => 'button tiny radius' %>
        <%= link_to 'Cancel', schools_path, :class => 'button tiny alert radius' %>
      </div>
    </fieldset>
  <% end %>
</div>